@use "../../../styles/sizes";
@use "../../../styles/colors";

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.5em;
    justify-content: center;
}

.label--styling {
    padding-right: 0px;
}

.inputAndReset {
    display: block;
    width: 100%;
}

#oracleSearch {
    width: 100%;
    margin-top: 10px;
    font-size: 1.5em;
    background-color: colors.$searchBackgroundUnfocused;
    color: colors.$searchUnfocused;
    text-align: center;
    border-style: solid;
    border-color: colors.$searchUnfocused;
    border-radius: 25px;
    &::placeholder {
        color: colors.$searchUnfocused;
    }
}
#oracleSearch:focus {
    outline: none;
    background-color: colors.$searchBackgroundFocused;
    outline-color: colors.$searchOutlineColor;
    color: colors.$searchText;
    &::placeholder {
        color: colors.$searchText;
    }
}

button {
    width: 100%;
    margin-top: 10px;
    font-size: 1.5em;
    background-color: colors.$searchBackgroundUnfocused;
    color: colors.$searchUnfocused;
    text-align: center;
    border-style: solid;
    border-color: colors.$searchUnfocused;
    border-radius: 25px;

    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
button:hover {
    background-color: colors.$searchUnfocused;
    color: colors.$searchBackgroundUnfocused;
}

@media only screen and (min-device-width: sizes.$tablet-breakpoint) {
    .label--styling {
        padding-right: 10px;
    }

    .inputAndReset {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }

    #oracleSearch {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    button {
        width: 200px;
        margin-top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
