@use "../../../styles/colors";

.headerOuter {
    background-color: colors.$headerBackground;
    width: 100%;
    height: fit-content;
    color: colors.$headerTextColor;
    box-shadow: 0px 10px 21px -2px colors.$shadowBlack;
}

h1 {
    margin: auto;
    padding: 10px;
}

h3 {
    margin: auto;
    padding: 10px;
}
