@use "../../../styles/colors";
@use "../../../styles/sizes";

.wrapper {
    background-color: colors.$headerBackground;
    width: 100%;
    height: fit-content;
    color: colors.$headerTextColor;
    box-shadow: 0px 10px 21px -2px colors.$shadowBlack;
    text-align: center;
    padding-top: sizes.$xs-size;
    padding-bottom: sizes.$xs-size;
}
