@use "../../../styles/colors";
@use "../../../styles/sizes";

.wrapper {
    display: flex;
    justify-content: center;
    padding: sizes.$spacer--mobile;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

li {
    width: 100%;
}

#noMatches {
    font-style: italic;
    text-align: center;
    font-size: sizes.$calcFontSizeMed;
}

@media only screen and (min-device-width: sizes.$tablet-breakpoint) {
    ul {
        justify-content: space-evenly;
    }

    li {
        width: auto;
        padding: 10px;
    }
}

@media only screen and (min-device-width: sizes.$desktop-breakpoint) {
    // ul {
    //     justify-content: space-evenly;
    // }
    // li {
    //     width: auto;
    // }
    .wrapper {
        padding: sizes.$spacer--desktop;
    }
}
