<div class="wrapper">
  <app-searchbar
    [renavigateQuery]="renavigateQuery"
    [renavigatePathType]="renavigatePathType"
    [pathType]="pathType" />
  <ul>
    @for (oracle of oracles; track oracle.iID) {
    <li class="">
      <ng-container *ngComponentOutlet="
            componentSelector(oracle);
            inputs: {oracle, renavigate: renavigatePinned};
            " />
    </li>
    }

  </ul>
  @if (oracles.length === 0) {
  <div id="noMatches" class={}>No Oracles match the current filter settings</div>
  }

</div>