@use "../styles/colors";

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;

    &.pinned {
        color: colors.$bodyTextColor;
    }

    &.unpinned {
        color: colors.$bodyTextColorFaded;
    }
}
