@use "sass:color";
@use "./colors";
@use "./sizes";

button {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
    font-size: sizes.$calcFontSizeMed;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    margin-bottom: sizes.$spacer--mobile;
    color: colors.$bodyTextColor;
    background-color: colors.$oracleBackground;

    border-radius: 25px;
    border: 1px solid colors.$oracleOutline;
    width: 100%;

    box-shadow: 0px 10px 21px -2px colors.$shadowBlack;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}

button:hover {
    background-color: color.adjust(colors.$oracleBackground, $lightness: -3%);
    box-shadow: 0px 10px 10px -2px colors.$shadowBlack;
}

.textBox {
    height: 500px;
    width: 100%;
    position: relative;
}

.reminder {
    font-style: italic;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.spacer--tiny {
    padding-bottom: sizes.$xs-size;
}

.spacer--med {
    padding-bottom: sizes.$m-size;
}

@media only screen and (min-device-width: sizes.$desktop-breakpoint) {
    button {
        font-size: sizes.$calcFontSizeSmall;
        margin: sizes.$spacer--mobile;
        width: 400px;
    }
}
