<div class="oracle--wrapper">
    <div class='oracle--topBox'>
        <div class="oracle--title--wrapper ">

            <button class="oracle--pin--width oracle--pin--button material-symbols-outlined"
                [ngClass]="{'pinned': pinned,'unpinned': !pinned}" (click)="pinThisOracle()">keep</button>

            <h2 class="oracle--spacer--tiny oracle--title--width">{{oracle.title}}</h2>

            <div class="oracle--pin--width ">
                <div class="oracle--pin--height">
                    @if(pinned && (pinLength > 1)){
                    <button (click)="upThisOracle()" class="oracle--pin--button material-icons">
                        arrow_upward_alt
                    </button>
                    }
                </div>
                <div class="oracle--pin--height">
                    @if(pinned && (pinLength > 1)){ <button (click)="downThisOracle()"
                        class="oracle--pin--button material-icons">
                        arrow_downward_alt
                    </button>
                    }
                </div>
            </div>

        </div>

        <div class="rollResults--wrapper oracle--spacer--tiny">
            @if (rollPrimary>0) {
            <div id="rollPrimary">Rolled: {{rollPrimary}}</div>
            }
        </div>

        @if (descPrimary) {
        <h3 id="descPrimary" class="oracle--spacer--tiny">{{descPrimary}}</h3>
        }
        @if (descSecondary) {
        <div id="descSecondary" class="oracle--spacer--tiny">{{descSecondary}}</div>
        }


    </div>
    <div class="oracle--bottomBox">

        @if (descReminder) {
        <div id="descReminder" class=" reminder--italic oracle--spacer--tiny">{{descReminder}}</div>
        }


        @if(rollPrimary != 1 && currentStep != 2){
        @for (likely of odds; track likely) {
        <button class="rollButtons" id="odds{{$index}}" (click)="rollDice(likely[1])">{{likely[1]}}
        </button>
        }
        }

        @if(rollPrimary === 1 || currentStep === 2){
        <button class="rollButtons" id="reset" (click)="onClickReset()">Reset
        </button>
        }
    </div>
</div>