<div class="oracle--wrapper">
    <div class='oracle--topBox'>
        <app-oracle-header [pinned]="pinned" [pinThisOracle]="pinThisOracle" title="{{oracle.title}}"
            [pinnedLength]="pinnedArray.length" [upThisOracle]="upThisOracle" [downThisOracle]="downThisOracle" />

        <div class="rollResults--wrapper oracle--spacer--tiny">
            @if (rollPrimary>0) {
            <div id="rollPrimary">Rolled: {{rollPrimary}}</div>
            }
        </div>

        @if (descPrimary) {
        <h3 id="descPrimary" class="oracle--spacer--tiny">{{descPrimary}}</h3>
        }
        @if (descSecondary) {
        <div id="descSecondary" class="oracle--spacer--tiny">{{descSecondary}}</div>
        }


    </div>
    <div class="oracle--bottomBox">

        @if (descReminder) {
        <div id="descReminder" class=" reminder--italic oracle--spacer--tiny">{{descReminder}}</div>
        }


        @if(rollPrimary != 1 && currentStep != 2){
        @for (likely of odds; track likely) {
        <button class="rollButtons" id="odds{{$index}}" (click)="rollDice(likely[1])">{{likely[1]}}
        </button>
        }
        }

        @if(rollPrimary === 1 || currentStep === 2){
        <button class="rollButtons" id="reset" (click)="onClickReset()">Reset
        </button>
        }
    </div>
</div>